<!DOCTYPE html>
<html lang="en" ng-app="meanApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./public/stylesheets/app.css">
    </head>
    <body>
        <div class="container" ng-controller="MeanController">
            <h2 ng-cloak>{{ number }}</h2>
            <br>
            <button ng-click="increment()"> +1</button>
            <button ng-click="decrement()"> -1</button>
            
        </div>
        <script src="./node_modules/angular/angular.min.js"></script>
        <script src="./node_modules/angular-route/angular-route.min.js"></script>
        <script src="./modules/meanApp.js"></script>
        <script src="./controllers/MeanController.js"></script>
        <script src="./controllers/MeanController2.js"></script>
        <script src="./controllers/MeanController3.js"></script>
    </body>
</html>